label{
    display: block;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

input{
    display: none;
}

#profile-img{
    width: 500px;
}

@media (max-width: 576px) {
    #profile-img{
        width: 300px;
    }
}