label,
#cropped-img-btn {
    display: block;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    display: none;
}

#profile-img,
#profile-img-empty {
    width: 500px;
}

.image-div{
    margin: 0 180px;
}

@media (max-width: 576px) {

    #profile-img,
    #profile-img-empty {
        width: 300px;
    }

    .image-div{
        margin: 0 40px;
    }
}